<section id="{{ page.header.section_slug }}">

    <h1>Photography</h1>

    <ul>
        <li data-filter=".featured" class="active">Featured</li>
        <li data-filter=".space">Space</li>
        <li data-filter=".nature">Nature</li>
        <li data-filter=".places">Places</li>
        <li data-filter=".people">People</li>
        <li data-filter=".backyard-wedding">Backyard Wedding</li>
        <li data-filter=".humans-of-lehigh">Humans of Lehigh</li>
    </ul>

    <div class="grid">

        <div class="sizer"></div>

        <div class="item featured space">
            <img data-src="{{ url('theme://images/test/01.jpg') }}">
        </div>

        <div class="item featured space">
            <img data-src="{{ url('theme://images/test/02.jpg') }}">
        </div>

        <div class="item featured places">
            <img data-src="{{ url('theme://images/test/03.jpg') }}">
        </div>

        <div class="item featured space">
            <img data-src="{{ url('theme://images/test/04.jpg') }}">
        </div>

        <div class="item featured places">
            <img data-src="{{ url('theme://images/test/05.jpg') }}">
        </div>

        <div class="item featured space">
            <img data-src="{{ url('theme://images/test/06.jpg') }}">
        </div>

        <div class="item featured places">
            <img data-src="{{ url('theme://images/test/07.jpg') }}">
        </div>

        <div class="item featured space">
            <img data-src="{{ url('theme://images/test/08.jpg') }}">
        </div>

        <div class="item featured places">
            <img data-src="{{ url('theme://images/test/09.jpg') }}">
        </div>

        <div class="item featured space">
            <img data-src="{{ url('theme://images/test/10.jpg') }}">
        </div>

        <div class="item featured places">
            <img data-src="{{ url('theme://images/test/11.jpg') }}">
        </div>

        <div class="item featured people">
            <img data-src="{{ url('theme://images/test/12.jpg') }}">
        </div>

        <div class="item featured places">
            <img data-src="{{ url('theme://images/test/13.jpg') }}">
        </div>

        <div class="item featured space">
            <img data-src="{{ url('theme://images/test/14.jpg') }}">
        </div>

        <div class="item featured nature">
            <img data-src="{{ url('theme://images/test/15.jpg') }}">
        </div>

        <div class="item featured humans-of-lehigh">
            <img data-src="{{ url('theme://images/test/16.jpg') }}">
        </div>

        <div class="item featured people">
            <img data-src="{{ url('theme://images/test/17.jpg') }}">
        </div>

        <div class="item space">
            <img data-src="{{ url('theme://images/test/18.jpg') }}">
        </div>

        <div class="item featured backyard-wedding">
            <img data-src="{{ url('theme://images/test/01.jpg') }}">
        </div>

        <div class="item nature">
            <img data-src="{{ url('theme://images/test/02.jpg') }}">
        </div>

        <div class="item featured people">
            <img data-src="{{ url('theme://images/test/03.jpg') }}">
        </div>

        <div class="item featured">
            <img data-src="{{ url('theme://images/test/04.jpg') }}">
        </div>

        <div class="item people">
            <img data-src="{{ url('theme://images/test/05.jpg') }}">
        </div>

        <div class="item people">
            <img data-src="{{ url('theme://images/test/06.jpg') }}">
        </div>

        <div class="item space">
            <img data-src="{{ url('theme://images/test/07.jpg') }}">
        </div>

        <div class="item nature">
            <img data-src="{{ url('theme://images/test/08.jpg') }}">
        </div>

        <div class="item space">
            <img data-src="{{ url('theme://images/test/09.jpg') }}">
        </div>

        <div class="item nature">
            <img data-src="{{ url('theme://images/test/10.jpg') }}">
        </div>

        <div class="item people">
            <img data-src="{{ url('theme://images/test/11.jpg') }}">
        </div>

        <div class="item people">
            <img data-src="{{ url('theme://images/test/12.jpg') }}">
        </div>

        <div class="item space">
            <img data-src="{{ url('theme://images/test/13.jpg') }}">
        </div>

        <div class="item nature">
            <img data-src="{{ url('theme://images/test/14.jpg') }}">
        </div>

        <div class="item nature">
            <img data-src="{{ url('theme://images/test/16.jpg') }}">
        </div>

        <div class="item space nature">
            <img data-src="{{ url('theme://images/test/17.jpg') }}">
        </div>

    </div>

    <div style="clear: both;"></div>

</section>
