<section id="{{ page.header.section_slug }}">

    <h1>Photography</h1>

    <ul>
        <li data-filter=".featured" class="active">Featured</li>
        <li data-filter=".backyard-wedding">Backyard Wedding</li>
        <li data-filter=".humans-of-lehigh">Humans of Lehigh</li>
        <li data-filter=".space">Space</li>
        <li data-filter=".nature">Nature</li>
        <li data-filter=".people">People</li>
        <li data-filter=".places">Places</li>
        <li data-filter=".product">Misc</li>
        
    </ul>

    <div class="grid">

        <div class="sizer"></div>

        <!--Featured-->

        <a href="{{ url('theme://images/featured/drain.jpg') }}" class="item featured">
            <img data-src="{{ url('theme://images/featured/drain.jpg') }}">
        </a>

        <a href="{{ url('theme://images/featured/_RAM6259.jpg') }}" class="item featured">
            <img data-src="{{ url('theme://images/featured/_RAM6259.jpg') }}">
        </a>

        <a href="{{ url('theme://images/featured/Pitted.jpg') }}" class="item featured">
            <img data-src="{{ url('theme://images/featured/Pitted.jpg') }}">
        </a>

        <a href="{{ url('theme://images/featured/Arrival.jpg') }}" class="item featured">
            <img data-src="{{ url('theme://images/featured/Arrival.jpg') }}">
        </a>

        <a href="{{ url('theme://images/featured/_RAM1150.jpg') }}" class="item featured">
            <img data-src="{{ url('theme://images/featured/_RAM1150.jpg') }}">
        </a>

        <a href="{{ url('theme://images/featured/RAM_1084.jpg') }}" class="item featured">
            <img data-src="{{ url('theme://images/featured/RAM_1084.jpg') }}">
        </a>

        <a href="{{ url('theme://images/featured/Fruit1.jpg') }}" class="item featured">
            <img data-src="{{ url('theme://images/featured/Fruit1.jpg') }}">
        </a>


       


        <!--Backyard Wedding-->
        <a href="{{ url('theme://images/backyardwedding/_RAM6901.jpg') }}" class="item backyard-wedding">
            <img data-src="{{ url('theme://images/backyardwedding/_RAM6901.jpg') }}">
        </a>

        <a href="{{ url('theme://images/backyardwedding/_RAM6940.jpg') }}" class="item backyard-wedding">
            <img data-src="{{ url('theme://images/backyardwedding/_RAM6940.jpg') }}">
        </a>

        <a href="{{ url('theme://images/backyardwedding/_RAM7014.jpg') }}" class="item backyard-wedding">
            <img data-src="{{ url('theme://images/backyardwedding/_RAM7014.jpg') }}">
        </a>

        <a href="{{ url('theme://images/backyardwedding/_RAM7029.jpg') }}" class="item backyard-wedding">
            <img data-src="{{ url('theme://images/backyardwedding/_RAM7029.jpg') }}">
        </a>

        <a href="{{ url('theme://images/backyardwedding/_RAM7182.jpg') }}" class="item backyard-wedding">
            <img data-src="{{ url('theme://images/backyardwedding/_RAM7182.jpg') }}">
        </a>

        <a href="{{ url('theme://images/backyardwedding/_RAM7204.jpg') }}" class="item backyard-wedding">
            <img data-src="{{ url('theme://images/backyardwedding/_RAM7204.jpg') }}">
        </a>

        <a href="{{ url('theme://images/backyardwedding/_RAM7239.jpg') }}" class="item backyard-wedding">
            <img data-src="{{ url('theme://images/backyardwedding/_RAM7239.jpg') }}">
        </a>

        <a href="{{ url('theme://images/backyardwedding/_RAM7255.jpg') }}" class="item backyard-wedding">
            <img data-src="{{ url('theme://images/backyardwedding/_RAM7255.jpg') }}">
        </a>

        <a href="{{ url('theme://images/backyardwedding/_RAM7274.jpg') }}" class="item backyard-wedding">
            <img data-src="{{ url('theme://images/backyardwedding/_RAM7274.jpg') }}">
        </a>

        <a href="{{ url('theme://images/backyardwedding/_RAM7276.jpg') }}" class="item backyard-wedding">
            <img data-src="{{ url('theme://images/backyardwedding/_RAM7276.jpg') }}">
        </a>

        <a href="{{ url('theme://images/backyardwedding/_RAM7305.jpg') }}" class="item backyard-wedding">
            <img data-src="{{ url('theme://images/backyardwedding/_RAM7305.jpg') }}">
        </a>

        <a href="{{ url('theme://images/backyardwedding/_RAM7314.jpg') }}" class="item backyard-wedding">
            <img data-src="{{ url('theme://images/backyardwedding/_RAM7314.jpg') }}">
        </a>

        <a href="{{ url('theme://images/backyardwedding/_RAM7386.jpg') }}" class="item backyard-wedding">
            <img data-src="{{ url('theme://images/backyardwedding/_RAM7386.jpg') }}">
        </a>

        <a href="{{ url('theme://images/backyardwedding/_RAM7511.jpg') }}" class="item backyard-wedding">
            <img data-src="{{ url('theme://images/backyardwedding/_RAM7511.jpg') }}">
        </a>

        <a href="{{ url('theme://images/backyardwedding/_RAM7515.jpg') }}" class="item backyard-wedding">
            <img data-src="{{ url('theme://images/backyardwedding/_RAM7515.jpg') }}">
        </a>

        <a href="{{ url('theme://images/backyardwedding/_RAM7602.jpg') }}" class="item backyard-wedding">
            <img data-src="{{ url('theme://images/backyardwedding/_RAM7602.jpg') }}">
        </a>

        <a href="{{ url('theme://images/backyardwedding/_RAM7621.jpg') }}" class="item backyard-wedding">
            <img data-src="{{ url('theme://images/backyardwedding/_RAM7621.jpg') }}">
        </a>

        <a href="{{ url('theme://images/backyardwedding/_RAM7713.jpg') }}" class="item backyard-wedding">
            <img data-src="{{ url('theme://images/backyardwedding/_RAM7713.jpg') }}">
        </a>

        <a href="{{ url('theme://images/backyardwedding/_RAM7724.jpg') }}" class="item backyard-wedding">
            <img data-src="{{ url('theme://images/backyardwedding/_RAM7724.jpg') }}">
        </a>

        <a href="{{ url('theme://images/backyardwedding/_RAM7740.jpg') }}" class="item backyard-wedding">
            <img data-src="{{ url('theme://images/backyardwedding/_RAM7740.jpg') }}">
        </a>

        <a href="{{ url('theme://images/backyardwedding/_RAM7755.jpg') }}" class="item backyard-wedding">
            <img data-src="{{ url('theme://images/backyardwedding/_RAM7755.jpg') }}">
        </a>

        <a href="{{ url('theme://images/backyardwedding/_RAM7783.jpg') }}" class="item backyard-wedding">
            <img data-src="{{ url('theme://images/backyardwedding/_RAM7783.jpg') }}">
        </a>

        <a href="{{ url('theme://images/backyardwedding/_RAM7824.jpg') }}" class="item backyard-wedding">
            <img data-src="{{ url('theme://images/backyardwedding/_RAM7824.jpg') }}">
        </a>


        <a href="{{ url('theme://images/backyardwedding/_RAM7900.jpg') }}" class="item backyard-wedding">
            <img data-src="{{ url('theme://images/backyardwedding/_RAM7900.jpg') }}">
        </a>

        <a href="{{ url('theme://images/backyardwedding/_RAM7905.jpg') }}" class="item backyard-wedding">
            <img data-src="{{ url('theme://images/backyardwedding/_RAM7905.jpg') }}">
        </a>

        <a href="{{ url('theme://images/backyardwedding/_RAM7910.jpg') }}" class="item backyard-wedding">
            <img data-src="{{ url('theme://images/backyardwedding/_RAM7910.jpg') }}">
        </a>

        <!--Humans of Lehigh-->

        <a href="{{ url('theme://images/humansoflehigh/hol1.jpg') }}" class="item humans-of-lehigh">
            <img data-src="{{ url('theme://images/humansoflehigh/hol1.jpg') }}">
        </a>

        <a href="{{ url('theme://images/humansoflehigh/hol2.jpg') }}" class="item humans-of-lehigh">
            <img data-src="{{ url('theme://images/humansoflehigh/hol2.jpg') }}">
        </a>

        <a href="{{ url('theme://images/humansoflehigh/hol3.jpg') }}" class="item humans-of-lehigh">
            <img data-src="{{ url('theme://images/humansoflehigh/hol3.jpg') }}">
        </a>

        <a href="{{ url('theme://images/humansoflehigh/hol4.jpg') }}" class="item humans-of-lehigh">
            <img data-src="{{ url('theme://images/humansoflehigh/hol4.jpg') }}">
        </a>

        <a href="{{ url('theme://images/humansoflehigh/hol5.jpg') }}" class="item humans-of-lehigh">
            <img data-src="{{ url('theme://images/humansoflehigh/hol5.jpg') }}">
        </a>

        <a href="{{ url('theme://images/humansoflehigh/hol6.jpg') }}" class="item humans-of-lehigh">
            <img data-src="{{ url('theme://images/humansoflehigh/hol6.jpg') }}">
        </a>

        <a href="{{ url('theme://images/humansoflehigh/hol7.jpg') }}" class="item humans-of-lehigh">
            <img data-src="{{ url('theme://images/humansoflehigh/hol7.jpg') }}">
        </a>

        <a href="{{ url('theme://images/humansoflehigh/hol8.jpg') }}" class="item humans-of-lehigh">
            <img data-src="{{ url('theme://images/humansoflehigh/hol8.jpg') }}">
        </a>

        <a href="{{ url('theme://images/humansoflehigh/hol9.jpg') }}" class="item humans-of-lehigh">
            <img data-src="{{ url('theme://images/humansoflehigh/hol9.jpg') }}">
        </a>

        <a href="{{ url('theme://images/humansoflehigh/hol10.jpg') }}" class="item humans-of-lehigh">
            <img data-src="{{ url('theme://images/humansoflehigh/hol10.jpg') }}">
        </a>

        <a href="{{ url('theme://images/humansoflehigh/hol11.jpg') }}" class="item humans-of-lehigh">
            <img data-src="{{ url('theme://images/humansoflehigh/hol11.jpg') }}">
        </a>

        <a href="{{ url('theme://images/humansoflehigh/hol12.jpg') }}" class="item humans-of-lehigh">
            <img data-src="{{ url('theme://images/humansoflehigh/hol12.jpg') }}">
        </a>

        <a href="{{ url('theme://images/humansoflehigh/hol13.jpg') }}" class="item humans-of-lehigh">
            <img data-src="{{ url('theme://images/humansoflehigh/hol13.jpg') }}">
        </a>

        <a href="{{ url('theme://images/humansoflehigh/hol14.jpg') }}" class="item humans-of-lehigh">
            <img data-src="{{ url('theme://images/humansoflehigh/hol14.jpg') }}">
        </a>

        <a href="{{ url('theme://images/humansoflehigh/hol15.jpg') }}" class="item humans-of-lehigh">
            <img data-src="{{ url('theme://images/humansoflehigh/hol15.jpg') }}">
        </a>

        <a href="{{ url('theme://images/humansoflehigh/hol16.jpg') }}" class="item humans-of-lehigh">
            <img data-src="{{ url('theme://images/humansoflehigh/hol16.jpg') }}">
        </a>

        <a href="{{ url('theme://images/humansoflehigh/hol17.jpg') }}" class="item humans-of-lehigh">
            <img data-src="{{ url('theme://images/humansoflehigh/hol17.jpg') }}">
        </a>

        <a href="{{ url('theme://images/humansoflehigh/hol18.jpg') }}" class="item humans-of-lehigh">
            <img data-src="{{ url('theme://images/humansoflehigh/hol18.jpg') }}">
        </a>

        <a href="{{ url('theme://images/humansoflehigh/hol19.jpg') }}" class="item humans-of-lehigh">
            <img data-src="{{ url('theme://images/humansoflehigh/hol19.jpg') }}">
        </a>

        <a href="{{ url('theme://images/humansoflehigh/hol20.jpg') }}" class="item humans-of-lehigh">
            <img data-src="{{ url('theme://images/humansoflehigh/hol20.jpg') }}">
        </a>

        <a href="{{ url('theme://images/humansoflehigh/hol21.jpg') }}" class="item humans-of-lehigh">
            <img data-src="{{ url('theme://images/humansoflehigh/hol21.jpg') }}">
        </a>

        <a href="{{ url('theme://images/humansoflehigh/hol22.jpg') }}" class="item humans-of-lehigh">
            <img data-src="{{ url('theme://images/humansoflehigh/hol22.jpg') }}">
        </a>

        <a href="{{ url('theme://images/humansoflehigh/hol23.jpg') }}" class="item humans-of-lehigh">
            <img data-src="{{ url('theme://images/humansoflehigh/hol23.jpg') }}">
        </a>

        <a href="{{ url('theme://images/humansoflehigh/hol24.jpg') }}" class="item humans-of-lehigh">
            <img data-src="{{ url('theme://images/humansoflehigh/hol24.jpg') }}">
        </a>

        <a href="{{ url('theme://images/humansoflehigh/hol25.jpg') }}" class="item humans-of-lehigh">
            <img data-src="{{ url('theme://images/humansoflehigh/hol25.jpg') }}">
        </a>

        <a href="{{ url('theme://images/humansoflehigh/hol26.jpg') }}" class="item humans-of-lehigh">
            <img data-src="{{ url('theme://images/humansoflehigh/hol26.jpg') }}">
        </a>

        <a href="{{ url('theme://images/humansoflehigh/hol27.jpg') }}" class="item humans-of-lehigh">
            <img data-src="{{ url('theme://images/humansoflehigh/hol27.jpg') }}">
        </a>

        <a href="{{ url('theme://images/humansoflehigh/hol28.jpg') }}" class="item humans-of-lehigh">
            <img data-src="{{ url('theme://images/humansoflehigh/hol28.jpg') }}">
        </a>

        <a href="{{ url('theme://images/humansoflehigh/hol29.jpg') }}" class="item humans-of-lehigh">
            <img data-src="{{ url('theme://images/humansoflehigh/hol29.jpg') }}">
        </a>

        <a href="{{ url('theme://images/humansoflehigh/hol30.jpg') }}" class="item humans-of-lehigh">
            <img data-src="{{ url('theme://images/humansoflehigh/hol30.jpg') }}">
        </a>

        <a href="{{ url('theme://images/humansoflehigh/hol31.jpg') }}" class="item humans-of-lehigh">
            <img data-src="{{ url('theme://images/humansoflehigh/hol31.jpg') }}">
        </a>

        <a href="{{ url('theme://images/humansoflehigh/hol32.jpg') }}" class="item humans-of-lehigh">
            <img data-src="{{ url('theme://images/humansoflehigh/hol32.jpg') }}">
        </a>

        <a href="{{ url('theme://images/humansoflehigh/hol33.jpg') }}" class="item humans-of-lehigh">
            <img data-src="{{ url('theme://images/humansoflehigh/hol33.jpg') }}">
        </a>

        <a href="{{ url('theme://images/humansoflehigh/hol34.jpg') }}" class="item humans-of-lehigh">
            <img data-src="{{ url('theme://images/humansoflehigh/hol34.jpg') }}">
        </a>

        <a href="{{ url('theme://images/humansoflehigh/hol35.jpg') }}" class="item humans-of-lehigh">
            <img data-src="{{ url('theme://images/humansoflehigh/hol35.jpg') }}">
        </a>

        <a href="{{ url('theme://images/humansoflehigh/hol36.jpg') }}" class="item humans-of-lehigh">
            <img data-src="{{ url('theme://images/humansoflehigh/hol36.jpg') }}">
        </a>

        <a href="{{ url('theme://images/humansoflehigh/hol37.jpg') }}" class="item humans-of-lehigh">
            <img data-src="{{ url('theme://images/humansoflehigh/hol37.jpg') }}">
        </a>

        <a href="{{ url('theme://images/humansoflehigh/hol38.jpg') }}" class="item humans-of-lehigh">
            <img data-src="{{ url('theme://images/humansoflehigh/hol38.jpg') }}">
        </a>

        <!--Space-->

        <a href="{{ url('theme://images/space/RAM_8477.jpg') }}" class="item space">
            <img data-src="{{ url('theme://images/space/RAM_8477.jpg') }}">
        </a>

        <a href="{{ url('theme://images/space/RAM_8500.jpg') }}" class="item space">
            <img data-src="{{ url('theme://images/space/RAM_8500.jpg') }}">
        </a>

        <a href="{{ url('theme://images/space/RAM_9055.jpg') }}" class="item space">
            <img data-src="{{ url('theme://images/space/RAM_9055.jpg') }}">
        </a>

        <a href="{{ url('theme://images/space/RAM_8402.jpg') }}" class="item space">
            <img data-src="{{ url('theme://images/space/RAM_8402.jpg') }}">
        </a>

        <a href="{{ url('theme://images/space/RAM_8449.jpg') }}" class="item space">
            <img data-src="{{ url('theme://images/space/RAM_8449.jpg') }}">
        </a>

        <a href="{{ url('theme://images/space/RAM_8459.jpg') }}" class="item space">
            <img data-src="{{ url('theme://images/space/RAM_8459.jpg') }}">
        </a>

        <a href="{{ url('theme://images/space/RAM_8403.jpg') }}" class="item space">
            <img data-src="{{ url('theme://images/space/RAM_8403.jpg') }}">
        </a>

        <a href="{{ url('theme://images/space/GalacticTrail.jpg') }}" class="item space">
            <img data-src="{{ url('theme://images/space/GalacticTrail.jpg') }}">
        </a>

        <a href="{{ url('theme://images/space/RAM_8444.jpg') }}" class="item space">
            <img data-src="{{ url('theme://images/space/RAM_8444.jpg') }}">
        </a>

        <a href="{{ url('theme://images/space/RAM_8407.jpg') }}" class="item space">
            <img data-src="{{ url('theme://images/space/RAM_8407.jpg') }}">
        </a>

        <a href="{{ url('theme://images/space/RAM_8412.jpg') }}" class="item space">
            <img data-src="{{ url('theme://images/space/RAM_8412.jpg') }}">
        </a>

         <a href="{{ url('theme://images/space/RAM_8401.jpg') }}" class="item space">
            <img data-src="{{ url('theme://images/space/RAM_8401.jpg') }}">
        </a>

        <a href="{{ url('theme://images/space/RAM_8492.jpg') }}" class="item space">
            <img data-src="{{ url('theme://images/space/RAM_8492.jpg') }}">
        </a>

        <a href="{{ url('theme://images/space/ViewFromTheTent.jpg') }}" class="item space">
            <img data-src="{{ url('theme://images/space/ViewFromTheTent.jpg') }}">
        </a>

        <a href="{{ url('theme://images/space/GloriousWay.jpg') }}" class="item space">
            <img data-src="{{ url('theme://images/space/GloriousWay.jpg') }}">
        </a>

        <!--Nature-->

        <a href="{{ url('theme://images/nature/BackyardStorm.jpg') }}" class="item nature">
            <img data-src="{{ url('theme://images/nature/BackyardStorm.jpg') }}">
        </a>

        <a href="{{ url('theme://images/nature/RAM_1303.jpg') }}" class="item nature">
            <img data-src="{{ url('theme://images/nature/RAM_1303.jpg') }}">
        </a>

        <a href="{{ url('theme://images/nature/Rush.jpg') }}" class="item nature">
            <img data-src="{{ url('theme://images/nature/Rush.jpg') }}">
        </a>

        <a href="{{ url('theme://images/nature/RAM_2001.jpg') }}" class="item nature">
            <img data-src="{{ url('theme://images/nature/RAM_2001.jpg') }}">
        </a>

        <a href="{{ url('theme://images/nature/Ghostlight.jpg') }}" class="item nature">
            <img data-src="{{ url('theme://images/nature/Ghostlight.jpg') }}">
        </a>

        <a href="{{ url('theme://images/nature/Growth.jpg') }}" class="item nature">
            <img data-src="{{ url('theme://images/nature/Growth.jpg') }}">
        </a>

        <a href="{{ url('theme://images/nature/RAM_0031.jpg') }}" class="item nature">
            <img data-src="{{ url('theme://images/nature/RAM_0031.jpg') }}">
        </a>

        <a href="{{ url('theme://images/nature/FrozenRiver.jpg') }}" class="item nature">
            <img data-src="{{ url('theme://images/nature/FrozenRiver.jpg') }}">
        </a>

        <a href="{{ url('theme://images/nature/RAM_0192.jpg') }}" class="item nature">
            <img data-src="{{ url('theme://images/nature/RAM_0192.jpg') }}">
        </a>

        <a href="{{ url('theme://images/nature/FungusFamily.jpg') }}" class="item nature">
            <img data-src="{{ url('theme://images/nature/FungusFamily.jpg') }}">
        </a>

        <a href="{{ url('theme://images/nature/Heavensong.jpg') }}" class="item nature">
            <img data-src="{{ url('theme://images/nature/Heavensong.jpg') }}">
        </a>

        <a href="{{ url('theme://images/nature/CancunSunset.jpg') }}" class="item nature">
            <img data-src="{{ url('theme://images/nature/CancunSunset.jpg') }}">
        </a>

        <a href="{{ url('theme://images/nature/CancunCove.jpg') }}" class="item nature">
            <img data-src="{{ url('theme://images/nature/CancunCove.jpg') }}">
        </a>

        <a href="{{ url('theme://images/nature/Crash.jpg') }}" class="item nature">
            <img data-src="{{ url('theme://images/nature/Crash.jpg') }}">
        </a>

        <a href="{{ url('theme://images/nature/LightingAtLehigh.jpg') }}" class="item featured nature">
            <img data-src="{{ url('theme://images/nature/LightingAtLehigh.jpg') }}">
        </a>

        <a href="{{ url('theme://images/nature/Lavender.jpg') }}" class="item nature">
            <img data-src="{{ url('theme://images/nature/Lavender.jpg') }}">
        </a>

        <a href="{{ url('theme://images/nature/FlowerBrothers.jpg') }}" class="item nature">
            <img data-src="{{ url('theme://images/nature/FlowerBrothers.jpg') }}">
        </a>

        <a href="{{ url('theme://images/nature/MorningMist.jpg') }}" class="item nature">
            <img data-src="{{ url('theme://images/nature/MorningMist.jpg') }}">
        </a>

        <a href="{{ url('theme://images/nature/Spiderlight.jpg') }}" class="item nature">
            <img data-src="{{ url('theme://images/nature/Spiderlight.jpg') }}">
        </a>

        <a href="{{ url('theme://images/nature/WhiteBird.jpg') }}" class="item nature">
            <img data-src="{{ url('theme://images/nature/WhiteBird.jpg') }}">
        </a>

        <a href="{{ url('theme://images/nature/Patronus.jpg') }}" class="item nature">
            <img data-src="{{ url('theme://images/nature/Patronus.jpg') }}">
        </a>

        <a href="{{ url('theme://images/nature/MorningMist.jpg') }}" class="item nature">
            <img data-src="{{ url('theme://images/nature/MorningMist.jpg') }}">
        </a>
        

        <!--People-->

        <a href="{{ url('theme://images/people/_RAM5652.jpg') }}" class="item people">
            <img data-src="{{ url('theme://images/people/_RAM5652.jpg') }}">
        </a>

        <a href="{{ url('theme://images/people/MeanStreets.jpg') }}" class="item people">
            <img data-src="{{ url('theme://images/people/MeanStreets.jpg') }}">
        </a>

        <a href="{{ url('theme://images/people/Gwen.jpg') }}" class="item people">
            <img data-src="{{ url('theme://images/people/Gwen.jpg') }}">
        </a>

        <a href="{{ url('theme://images/people/CristinaAndrew.jpg') }}" class="item people">
            <img data-src="{{ url('theme://images/people/CristinaAndrew.jpg') }}">
        </a>
        
        <a href="{{ url('theme://images/people/Ashley.jpg') }}" class="item people">
            <img data-src="{{ url('theme://images/people/Ashley.jpg') }}">
        </a>

        <a href="{{ url('theme://images/people/RAM_0077.jpg') }}" class="item people">
            <img data-src="{{ url('theme://images/people/RAM_0077.jpg') }}">
        </a>

        <a href="{{ url('theme://images/people/_RAM0897.jpg') }}" class="item people">
            <img data-src="{{ url('theme://images/people/_RAM0897.jpg') }}">
        </a>


        <a href="{{ url('theme://images/people/_RAM1039.jpg') }}" class="item people">
            <img data-src="{{ url('theme://images/people/_RAM1039.jpg') }}">
        </a>

        <a href="{{ url('theme://images/people/Minnit.jpg') }}" class="item people">
            <img data-src="{{ url('theme://images/people/Minnit.jpg') }}">
        </a>

        <a href="{{ url('theme://images/people/_RAM8370.jpg') }}" class="item people">
            <img data-src="{{ url('theme://images/people/_RAM8370.jpg') }}">
        </a>

        <a href="{{ url('theme://images/people/Justine.jpg') }}" class="item people">
            <img data-src="{{ url('theme://images/people/Justine.jpg') }}">
        </a>

        

        <a href="{{ url('theme://images/people/Erin2.jpg') }}" class="item people">
            <img data-src="{{ url('theme://images/people/Erin2.jpg') }}">
        </a>

        <a href="{{ url('theme://images/people/_RAM3243.jpg') }}" class="item people">
            <img data-src="{{ url('theme://images/people/_RAM3243.jpg') }}">
        </a>

        <a href="{{ url('theme://images/people/_RAM0684.jpg') }}" class="item people">
            <img data-src="{{ url('theme://images/people/_RAM0684.jpg') }}">
        </a>

        <a href="{{ url('theme://images/people/MacgradysLady.jpg') }}" class="item people">
            <img data-src="{{ url('theme://images/people/MacgradysLady.jpg') }}">
        </a>

        <a href="{{ url('theme://images/people/_RAM6555.jpg') }}" class="item people">
            <img data-src="{{ url('theme://images/people/_RAM6555.jpg') }}">
        </a>

         <a href="{{ url('theme://images/people/Violinist.jpg') }}" class="item people">
            <img data-src="{{ url('theme://images/people/Violinist.jpg') }}">
        </a>

        <a href="{{ url('theme://images/people/RAM_0385.jpg') }}" class="item people">
            <img data-src="{{ url('theme://images/people/RAM_0385.jpg') }}">
        </a>

        <a href="{{ url('theme://images/people/_RAM8152.jpg') }}" class="item people">
            <img data-src="{{ url('theme://images/people/_RAM8152.jpg') }}">
        </a>


        <a href="{{ url('theme://images/people/Path.jpg') }}" class="item people">
            <img data-src="{{ url('theme://images/people/Path.jpg') }}">
        </a>

        <a href="{{ url('theme://images/people/FireInside.jpg') }}" class="item people">
            <img data-src="{{ url('theme://images/people/FireInside.jpg') }}">
        </a>

        <a href="{{ url('theme://images/people/_RAM9709.jpg') }}" class="item people">
            <img data-src="{{ url('theme://images/people/_RAM9709.jpg') }}">
        </a>

        <a href="{{ url('theme://images/people/_RAM9638.jpg') }}" class="item people">
            <img data-src="{{ url('theme://images/people/_RAM9638.jpg') }}">
        </a>

        <a href="{{ url('theme://images/people/_RAM9416.jpg') }}" class="item people">
            <img data-src="{{ url('theme://images/people/_RAM9416.jpg') }}">
        </a>

        <a href="{{ url('theme://images/people/_RAM0939.jpg') }}" class="item people">
            <img data-src="{{ url('theme://images/people/_RAM0939.jpg') }}">
        </a>

        <a href="{{ url('theme://images/people/_RAM2364.jpg') }}" class="item people">
            <img data-src="{{ url('theme://images/people/_RAM2364.jpg') }}">
        </a>

        <a href="{{ url('theme://images/people/_RAM1350.jpg') }}" class="item people">
            <img data-src="{{ url('theme://images/people/_RAM1350.jpg') }}">
        </a>

        <a href="{{ url('theme://images/people/_RAM5797.jpg') }}" class="item people">
            <img data-src="{{ url('theme://images/people/_RAM5797.jpg') }}">
        </a>

        <a href="{{ url('theme://images/people/Kris.jpg') }}" class="item people">
            <img data-src="{{ url('theme://images/people/Kris.jpg') }}">
        </a>

        <a href="{{ url('theme://images/people/NAS.jpg') }}" class="item people">
            <img data-src="{{ url('theme://images/people/NAS.jpg') }}">
        </a>

        <a href="{{ url('theme://images/people/bigSEAN.jpg') }}" class="item people">
            <img data-src="{{ url('theme://images/people/bigSEAN.jpg') }}">
        </a>

        <a href="{{ url('theme://images/people/Chug.jpg') }}" class="item people">
            <img data-src="{{ url('theme://images/people/Chug.jpg') }}">
        </a>

        <a href="{{ url('theme://images/people/RAM_3687.jpg') }}" class="item people featured">
            <img data-src="{{ url('theme://images/people/RAM_3687.jpg') }}">
        </a>

        <a href="{{ url('theme://images/people/RAM_0344.jpg') }}" class="item people">
            <img data-src="{{ url('theme://images/people/RAM_0344.jpg') }}">
        </a>

        <a href="{{ url('theme://images/people/Ashley2.jpg') }}" class="item people">
            <img data-src="{{ url('theme://images/people/Ashley2.jpg') }}">
        </a>

        <a href="{{ url('theme://images/people/_RAM9094.jpg') }}" class="item people">
            <img data-src="{{ url('theme://images/people/_RAM9094.jpg') }}">
        </a>

        <a href="{{ url('theme://images/people/SexyVitaminsShoot.jpg') }}" class="item people">
            <img data-src="{{ url('theme://images/people/SexyVitaminsShoot.jpg') }}">
        </a>


        <!--Places-->

        <a href="{{ url('theme://images/places/RAM_1001.jpg') }}" class="item places">
            <img data-src="{{ url('theme://images/places/RAM_1001.jpg') }}">
        </a>

        <a href="{{ url('theme://images/places/NewYorkPano.jpg') }}" class="item places">
            <img data-src="{{ url('theme://images/places/NewYorkPano.jpg') }}">
        </a>

        <a href="{{ url('theme://images/places/Winding.jpg') }}" class="item places">
            <img data-src="{{ url('theme://images/places/Winding.jpg') }}">
        </a>

        <a href="{{ url('theme://images/places/Studio.jpg') }}" class="item places">
            <img data-src="{{ url('theme://images/places/Studio.jpg') }}">
        </a>

        <a href="{{ url('theme://images/places/HeavyRainNYC.jpg') }}" class="item places">
            <img data-src="{{ url('theme://images/places/HeavyRainNYC.jpg') }}">
        </a>

        <a href="{{ url('theme://images/places/RAM_0530.jpg') }}" class="item places">
            <img data-src="{{ url('theme://images/places/RAM_0530.jpg') }}">
        </a>

        <a href="{{ url('theme://images/places/TheHarbor.jpg') }}" class="item places">
            <img data-src="{{ url('theme://images/places/TheHarbor.jpg') }}">
        </a>

        <a href="{{ url('theme://images/places/Tower.jpg') }}" class="item places">
            <img data-src="{{ url('theme://images/places/Tower.jpg') }}">
        </a>

        <a href="{{ url('theme://images/places/Lighthouse.jpg') }}" class="item places">
            <img data-src="{{ url('theme://images/places/Lighthouse.jpg') }}">
        </a>

        <a href="{{ url('theme://images/places/MagicHour.jpg') }}" class="item places">
            <img data-src="{{ url('theme://images/places/MagicHour.jpg') }}">
        </a>

        <a href="{{ url('theme://images/places/_RAM6736.jpg') }}" class="item places">
            <img data-src="{{ url('theme://images/places/_RAM6736.jpg') }}">
        </a>

        <a href="{{ url('theme://images/places/Drive.jpg') }}" class="item places">
            <img data-src="{{ url('theme://images/places/Drive.jpg') }}">
        </a>

        <a href="{{ url('theme://images/places/Library.jpg') }}" class="item places">
            <img data-src="{{ url('theme://images/places/Library.jpg') }}">
        </a>

        <a href="{{ url('theme://images/places/Chandler.jpg') }}" class="item places">
            <img data-src="{{ url('theme://images/places/Chandler.jpg') }}">
        </a>

        <a href="{{ url('theme://images/places/_RAM3201.jpg') }}" class="item places">
            <img data-src="{{ url('theme://images/places/_RAM3201.jpg') }}">
        </a>

        <a href="{{ url('theme://images/places/_RAM1280.jpg') }}" class="item places">
            <img data-src="{{ url('theme://images/places/_RAM1280.jpg') }}">
        </a>

        <a href="{{ url('theme://images/places/_RAM1784.jpg') }}" class="item places">
            <img data-src="{{ url('theme://images/places/_RAM1784.jpg') }}">
        </a>

        <a href="{{ url('theme://images/places/TheArch.jpg') }}" class="item places">
            <img data-src="{{ url('theme://images/places/TheArch.jpg') }}">
        </a>

        <a href="{{ url('theme://images/places/_RAM2435.jpg') }}" class="item places">
            <img data-src="{{ url('theme://images/places/_RAM2435.jpg') }}">
        </a>

        <a href="{{ url('theme://images/places/_RAM0847.jpg') }}" class="item places">
            <img data-src="{{ url('theme://images/places/_RAM0847.jpg') }}">
        </a>

        <a href="{{ url('theme://images/places/MetallicNYC.jpg') }}" class="item places">
            <img data-src="{{ url('theme://images/places/MetallicNYC.jpg') }}">
        </a>

        <a href="{{ url('theme://images/places/LightLeakHotel.jpg') }}" class="item places">
            <img data-src="{{ url('theme://images/places/LightLeakHotel.jpg') }}">
        </a>

        <a href="{{ url('theme://images/places/ArtRoom.jpg') }}" class="item places">
            <img data-src="{{ url('theme://images/places/ArtRoom.jpg') }}">
        </a>

        <a href="{{ url('theme://images/places/Lot.jpg') }}" class="item places">
            <img data-src="{{ url('theme://images/places/Lot.jpg') }}">
        </a>

        <a href="{{ url('theme://images/places/RAM_4165.jpg') }}" class="item places">
            <img data-src="{{ url('theme://images/places/RAM_4165.jpg') }}">
        </a>

        <a href="{{ url('theme://images/places/RAM_3685.jpg') }}" class="item places">
            <img data-src="{{ url('theme://images/places/RAM_3685.jpg') }}">
        </a>

        <a href="{{ url('theme://images/places/RAM_2621.jpg') }}" class="item places">
            <img data-src="{{ url('theme://images/places/RAM_2621.jpg') }}">
        </a>

        <a href="{{ url('theme://images/places/SteelStacks.jpg') }}" class="item places">
            <img data-src="{{ url('theme://images/places/SteelStacks.jpg') }}">
        </a>

        <a href="{{ url('theme://images/places/ymxb.jpg') }}" class="item places">
            <img data-src="{{ url('theme://images/places/ymxb.jpg') }}">
        </a>

        


        


        

    </div>

</section>
