<section id="{{ page.header.section_slug }}">

    <h2>Photography</h2>

    {% set categories = page.collection %}

    <ul>
        {% for category in categories %}
            {% if loop.first %}
                <li data-filter=".{{ category.slug }}" class="active">
            {% else %}
                <li data-filter=".{{ category.slug }}">
            {% endif %}
                {{ category.title }}
            </li>
        {% endfor %}
    </ul>

    <div class="content">
        {% for category in categories %}
            {% if loop.first %}
                <div data-filter=".{{ category.slug }}" class="active">
            {% else %}
                <div data-filter=".{{ category.slug }}">
            {% endif %}
                <p>{{ category.header.description }}</p>
            </div>
        {% endfor %}
    </div>

    <div class="grid">
        <div class="sizer"></div>
        {% for category in categories %}
            {% for photo in category.media.images %}
                <a
                  href="{{ photo.url() }}"
                  class="item {{ category.slug }}"
                  data-sub-html="<h5>{{ photo.meta.title }}</h5><p>{{ photo.meta.description }}</p>">
                    <img data-src="{{ photo.url() }}">
                </a>
            {% endfor %}
        {% endfor %}
    </div>

</section>
